*.pyc
*.egg-info
docs/_build
docs/build
build/
dist/
.idea/
log.*
log
.coverage
.DS_Store
*.swp
*.swo
.cache/
.pytest_cache
docs/source/generated
dask-worker-space/
ci/slurm/environment.yml
ci/pbs/environment.yml
ci/sge/environment.yml
ci/htcondor/environment.yml
ci/flux/environment.yml
ci/flux/conf/tmp
.vscode/
ca.pem
key.pem
