repos:
-   repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
    - id: black
      language_version: python3
-   repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      types: [file, python]
