name: CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        jobqueue: ["htcondor", "pbs", "sge", "slurm", "none"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup Empty Conda Environment with Mamba
        if: matrix.jobqueue == 'none'
        uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge
          mamba-version: "*"
          activate-environment: dask-jobqueue
          auto-activate-base: false
         
      - name: Setup dask-jobqueue conda environment 
        if: matrix.jobqueue == 'none'
        run: |
          mamba env update -f ci/environment.yml
          mamba list

      - name: Setup Job queuing system
        if: matrix.jobqueue != 'none'
        run: |
          cp ci/environment.yml ci/${{ matrix.jobqueue }}/environment.yml
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_before_install

      - name: Install dask-jobqueue
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_install

      - name: Test
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_script

      - name: Cleanup
        if: always()
        run: |
          source ci/${{ matrix.jobqueue }}.sh
          jobqueue_after_script

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - name: Install deps
        run: ./ci/install-deps.sh
      - uses: pre-commit/action@v2.0.0
